body 
{
	font-size: 18px;
	color: green;
	background: black;
	height: 100%;
	padding: 0;
}
h1 
{
	font-size: 25px;
	color: brown;
	text-align: center;
}
audio
{
	display: none;
}
.snowball
{
	position: absolute;
	background: white;
	border-radius: 100%;
}
#star 
{
	color: brown;
	font-size: 1.8em;
}
#tree
{
	width: 220px;
	margin: 0 auto;
}
img 
{
	position: relative;
	left: 50%;
	width: 100px;
}
p 
{
	display: block;
	margin: auto;
	color: purple;
	font-size: 1.5em;
	font-family: "Lucida Console", Monaco, monospace;
}
footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 20%;
	margin: 0;
	padding: 0;
	width: 100%;
	border-top-left-radius: 60%;
	border-top-right-radius: 60%;
	background: white;
}