html {
    position: relative;
    min-height: 100%;
}
body 
{
	font-size: 18px;
	color: green;
	background: black;
	padding: 0;
	margin: 0;
}
h1 
{
	font-size: 25px;
	color: brown;
	text-align: center;
}
audio
{
	display: none;
}
footer
{
	position: absolute;
	bottom: 0;
	left: 0;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	height: 60px;
	background: white;
	width: 100%;
}
p
{
	left: 2%;
	position: absolute;
	bottom: 0;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	color: blue;
}
img 
{
	position: absolute;
	bottom: 0;
	margin-left: 50%;
	padding: 0;
	width: 100px;
	height: 100px;
}
.snowball
{
	position: absolute;
	background: white;
	border-radius: 100%;
}
#star 
{
	color: brown;
	font-size: 1.8em;
}
#tree
{
	position: absolute;
	bottom: 60px;
	left: 42%;
}

@media(max-width: 400px)
{
	img
	{
		width: 70px;
		height: 70px;
	}
	#tree
	{
		left: 35%;
	}
	p
	{
		font-size: 12px;
	}
}