html {
    position: relative;
    min-height: 100%;
}
body 
{
	font-size: 18px;
	color: green;
	background: black;
	padding: 0;
	margin: 0;
}
h1 
{
	font-size: 25px;
	color: brown;
	text-align: center;
}
audio
{
	display: none;
}
img 
{
	position: relative;	
	left: 50%;
	width: 100px;
}
p 
{
	display: block;
	margin: 0 auto;
	color: purple;
	font-size: 0.99em;
	font-family: "Lucida Console", Monaco, monospace;
}
footer
{
	margin: 0;
	padding: 0;
	width: 100%;
	border-top-left-radius: 60%;
	border-top-right-radius: 60%;
	background: white;
}
.snowball
{
	position: absolute;
	background: white;
	border-radius: 100%;
}
#star 
{
	color: brown;
	font-size: 1.8em;
}
#tree
{
	width: 220px;
	margin: 0 auto;
}

@media (max-width: 1400px)
{
	footer
	{
		height: 17%;
	}
}